body{
    max-width:100vw;
    min-height:100vh;
    background-image:url(https://wallpapers.com/images/hd/4k-nature-moraine-lake-r66plwqa8m3z5reg.jpg);
    background-size:cover;
    background-repeat:no-repeat;
}

main{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center; 
}

span{
    background-color:black;
    color:white;
    border:3px solid grey;
    padding:0.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

div{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:25rem;
    padding:10px;
    border:3px solid rgba(12, 12, 12,0.6);
    border-radius:3%;
    box-shadow:10px 10px 30px black;
    background-color:rgba(0, 0, 0, 0.2);
}

@media screen and (max-width:500px){
    div{
        width:21rem;
    }
}

@media screen and (max-width:400px){
    div{
        width:16rem;
    }
}

p{
    font-family: "Roboto", sans-serif;
    font-weight: 450;
    font-style: normal;
    color:white;
}

h4{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color:burlywood;
}

button{
    padding:7px;
    background-color:black;
    color:white;
}

button:active{
    background-color:rgba(135, 200, 226,0.5);  
}